//* Colors
$white: hsl(0, 0%, 100%);
$black: #000;
$gray: #303030;
$gray-2: #757575;
$red: #e50914;
$red-light: #ce323a;
$orange: #e87c03;
$blue: #0071eb;

//* Font Sizes
$font-md: 1.125rem; //* 18px
$font-sm: 0.875rem; //* 14px

//* Header Sizes
$header-size: 50px;
